<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Assurance - results</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="/stylesheet/results.css">
  <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&family=Cinzel:wght@400;500;600;700;800&display=swap" rel="stylesheet">
</head>
<body>
<!-- partial:index.partial.html -->
<div class="container">
  <% let regEX = /^['\+''\.''\-'' '0-9]+$/; %>
  <% data.forEach(location => {  %>

  <a class="card1" href="<%= location. direction %>">
    <h3><%= location.name %></h3>
    <% if(location.information.address && !regEX.test(location.information.address)) {  %>
    <p style="font-weight: bold; color: #00838d;">address:</p>
    <p class="small"><%= location.information.address %></p>
    <%   }else if(location.information.address && regEX.test(location.information.address)){  %>
        <p style="font-weight: bold; color: #00838d;">phone:</p>
        <p class="small"><%= location.information.address %></p> <% } %>

        <% if(location.information.phone && !regEX.test(location.information.phone)) {  %>
    <p style="font-weight: bold; color: #00838d;">address:</p>
    <p class="small"><%= location.information.phone %></p>
    <%   }else if(location.information.phone && regEX.test(location.information.phone)){  %>
        <p style="font-weight: bold; color: #00838d;">phone:</p>
        <p class="small"><%= location.information.phone %></p> <% } %>

    <% if(location.website) { %>
      <form action="<%= location.website %>" method='GET' style="margin-left: 180px;">
        <button style="font-family: 'Chakra Petch', sans-serif; color:#00838d; background-color: white; display: flex; justify-content: space-around; border: none; border-radius: 10px; padding: 7px 10px; width: 90px; cursor: pointer;">
          signup <i class="fa fa-hand-pointer-o" aria-hidden="true"></i>
        </button>
      </form>
    <% }else { %>
        <form action="#" method='GET' style="margin-left: 180px;">
        <button  type="button" style="font-family: 'Chakra Petch', sans-serif; color:#4d4d4d; background-color: rgba(121, 121, 121, 0.262); display: flex; justify-content: space-around; border: none; border-radius: 10px; padding: 7px 10px; width: 90px; cursor:not-allowed;" disabled>
          signup <i class="fa fa-hand-pointer-o" aria-hidden="true"></i>
        </button>
       </form>
    <% 
             }
    %>

    <div class="go-corner" href="#">
      <div class="go-arrow">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
      </div>
    </div>
  </a>
  
  <% }); %>
  
  <a class="card3" href="http://localhost:10000/" >
    <h3 style="color: white;">Back to application</h3>
    <p class="small" style="color: #a8eb12;;">This card will leads you back to the home page.</p>
    <div class="dimmer"></div>
    <div class="go-corner" style="background-color: #a8eb12;" href="#">
      <div class="go-arrow" style="color: #00838d;">
        <i class="fa fa-undo" aria-hidden="true"></i>
      </div>
    </div>
  </a>
</div>
<!-- partial -->
  
</body>
</html>
